numpy
scipy
scikit-learn
jupyter
matplotlib
pandas
h5py
pillow
scikit-image
lxml
tensorflow
keras
opencv-python
ipython>=7.16.3 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
